<div class="content">
    <div class="table-container">
        <table class="activity-table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Role</th>
                    <th>Activity</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let activity of activities">
                    <td>{{activity.user}}</td>
                    <td class="role-text">{{activity.role}}</td>
                    <td><a href="#" class="activity-link">{{activity.action}}</a></td>
                    <td class="time-text">{{activity.time}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
